.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

.autocomplete-content {
    position: absolute;
    width:100%;
    text-align:center;
}

_blank{
    margin:5px 10px;
}